#banner
  .banner_content
    %h1 NoteSpace
    %p Your online notebook.
    %button= link_to "Sign Up", new_user_registration_path
#testimonial
  .wrapper
    %p.quote "The only way to take notes, NoteSpace!"
    %p.name - Billy Cao
#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Notes
        %p Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.

      .callout
        %h2 Notes
        %p Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.

      .callout
        %h2 Notes
        %p Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.
#bottom_cta
  .wrapper
    %h2 Create Your Own NoteSpace!
    %p Sign up
    %button= link_to "Click Me!", new_user_registration_path

%footer
  %p Brandon Andrew LoGuercio
